.post-container {
  display: flex;
  position: fixed;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.post-sidebar-closed {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 100%;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.post-sidebar-icon {
  background-color: transparent;
  margin-top: 30px;
  cursor: pointer;
}

.actionpost-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 60%;
  box-sizing: border-box;
  padding: 0 20px;
  overflow: auto;
}

.actionpost-container h2 {
  text-align: center;
  margin: 0;
}