.graph-container {
  flex: 1;
  background-color: #f0f2f7;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.graph-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.graph-container p {
  font-weight: 700;
}
