.notify-list-container {
  height: 95%;
  overflow-y: auto;
}

/* 2. 알림 벨 아이콘 스타일 */
.notify-bell-icon {
  width: 43px;
  /* 아이콘 크기에 맞게 조절 */
  height: 43px;

  margin-left: 170px;
  margin-top: 20px;
}

.notify-tab-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 10px 16px;
  border-radius: 12px;
  width: 310px;
  min-height: 50px;
  margin-left: 30px;
  margin-top: 20px;
  /*알림 목록들 간의 간격*/
  font-size: 16px;
}

.notify-notread {
  position: absolute;
  background-color: #fe5000;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.notify-trash-icon {
  width: 20px;
  height: 20px;
  /* margin-left: 50px; */
  padding-left: 7px;
  flex-shrink: 0;
}

/* 텍스트를 감싸는 span */
.text-content {
  flex-grow: 1;
  /* 아이콘을 제외한 모든 공간을 차지 */
  white-space: pre-wrap;
  word-break: keep-all;
  overflow-wrap: break-word;
}
