.modal-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-content {
  position: absolute;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 420px;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 180px;
  justify-content: space-between;
}

.modal-header-bar {
  width: 100%;
  background-color: #00205b;
  /*margin-bottom: 20px;*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*메세지 텍스트*/
.modal-message {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}
/* 버튼들을 담는 컨테이너 */
.modal-actions {
  display: flex;
  gap: 20px;
}

.modal-button {
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  padding: 8px;
  width: 90px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.modal-button:active {
  transform: scale(0.98);
}

.modal-button.confirm {
  background-color: #00205b; /* 짙은 남색 */
  color: white;
}
.modal-button.confirm:hover {
  background-color: #0a2145;
}

.modal-button.cancel {
  background-color: #d9d9d6;
}
.modal-button.cancel:hover {
  background-color: #d1d1d1;
}

.modal-error {
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #fcc;
}
.modal-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.modal-button.loading {
  position: relative;
}
