:root {
  --font-size-2xs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  /* 텍스트 선택 방지 */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
}

.profile,
.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bbc9ec;
  cursor: pointer;
  overflow: hidden;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-base);
  line-height: 30px;
  color: black;
}

.profile-image {
  object-fit: cover;
  display: block;
}
.editors-container {
  position: relative;
  width: 100%;
}
.editors {
  position: absolute;
  top: 0;
  right: 101%;
}
