:root {
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*overflow: hidden;*/ /* 선택적: 배경 스크롤 막기 */
}
