.findid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.findid-box {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.findid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.findid-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image {
  width: 233px;
  height: 132px;
}

.findid-box .input-wrapper.input-wrapper {
  width: 100%;
}
.find-email-input {
  width: 400px;
  height: 40px;
  padding-left: 45px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 20px; /*input와 button 중앙 정렬*/
}

.findemail-icon-inside {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.findid-clear-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  height: 100%; /* 입력창 높이에 맞춤 */
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.findid-section {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.findid-button {
  width: 120px;
  height: 50px;
  background-color: #00205b;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  width: 320px;
  height: 150px;
  padding: 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.modal-header {
  height: 30px;
  background-color: #001f5b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-close-button {
  margin-top: 10px;
  background-color: #00205b;
  color: white;
  cursor: pointer;
}
