.wssidebar-container {
  width: 300px;
  min-width: 200px;
  height: 100%;
  min-height: 800px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;

}

.wssidebar-list-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px 0;
  height: 32%;
  box-sizing: border-box;
}

.wssidebar-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 4% 10%;
  gap: 10px;
}

.wssidebar-list:hover {
  background-color: #D9D9D6;
}

.wssidebar-list p {
  margin: 0;
}

.wssidebar-img {
  width: 24px;
  height: 24px;
}

.wssidebar-img img {
  width: 22px;
  height: 22px;
  margin: 1px;
}