.gantt-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  height: 600px;
  flex-grow: 1;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff5f0;
  position: relative;
  cursor: grab;
}

.gantt-drag-area {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.gantt-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.gantt-date-columns {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.gantt-date-column {
  width: 80px;
  border-right: 1px solid #ffe3d7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gantt-date-label {
  font-size: 12px;
  font-weight: bold;
  padding-top: 4px;
}

.gantt-date-column.today {
  background-color: #ffe3d7;
}

.gantt-chart {
  flex-grow: 1;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 580px;
  position: relative;
}

.gantt-task-bar {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  border-radius: 5px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  /* 기타 스타일 */
}

.gantt-task-name {
  white-space: nowrap;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: white;
  text-overflow: ellipsis;
  display: block;
  min-width: 30px;
  width: 100%;
  max-width: 300px;
}
