.mainheader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
}

.signupheader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 50px 0 50px;
}

.mainwsheader-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50px;
  min-height: 50px;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.mainwsheader-container h1 {
  margin: 0;
}

.mainprofile,
.mainprofile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #bbc9ec;
  cursor: pointer;
  overflow: hidden;
}

.mainprofile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xl);
  line-height: 60px;
  color: black;
}

.mainprofile-image {
  object-fit: cover;
  display: block;
}

.div-left {
  width: 60px;
  cursor: pointer;
}

.div-right {
  width: 60px;
}
